
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
    <title><%= title %></title>
</head>
<body>
     <!-- Navigation Bar -->
    <nav class="teal">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo center">📚 Library</a>
        </div>
    </nav>

    <div class="container">
        <h1 class="center-align">Book List</h1>
        <ul class="collection">
            <% for( let index = 0; index < books.length; index++ ) { %>
                <li class="collection-item">
            <a href="/books/<%= books[index].id%>"><strong><%= books[index].title %></strong> by <%= books[index].author %></a>
            </li>
            <% } %>
        </ul>
        <div class="center-align">
            <a href="/books/new" class="btn wave-affect waves-ligth teal">Add a New Book</a>
        </div>
    </div>
</body>
</html>